* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
   font-family: 'Noto Serif', serif;
}

h3 {
  text-align: center;
  font-weight: bold;
  color: #777;
  font-size: 26px;
}

.highlightRed {
  background: #FCD5D1;
}

.sidePanel {
  display: inline-block;
  width: 25%;
  margin-right: 5%
  float: right;
  vertical-align: top;
  background-color: #EBEDEF;
  min-height: 800px;
}

.text {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  width: 65%;
  height: 800px;
  padding-right: 40px;
  padding-top: 20px;
  margin-left: 5%;
}

.error {
  background: #FCD5D1;
  margin-left: 100px;
  padding: 5px;
  vertical-align: top;
  display: inline-block;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

.sideBarTitle {
    color: #777;
    font-size: 25px;
    font-weight: bold;
    padding: 50px 50px 10px 50px;
}

.selectedItem {
  font-size: 16px;
  padding-left: 12px;
  padding-right: 20px;
  color: #212F3D;
}

.selectionTitile {
  font-size: 18px;
  padding-left: 14px;
  font-weight: bold;
}

.removeSelection {
  display: inline-block;
  font-size: 12px;
  padding-left: 12px;
  color: #D98880;
  cursor: pointer;
  transition: color 0.5s;
}

.removeSelection:hover {
  color: #CD6155;
  font-weight: bold;
}

.palette * {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.palette *:hover {
  opacity: 0.7;
}

.palette {
  display: inline-block;
  margin-left: 5%;
  vertical-align: top;
}

.green {
  background-color: #73C6B6;
}

.blue {
  background-color: #5499C7;
}

.grey {
  background-color: #AAB7B8;
}

.chosenColor {
  border: 3px solid #888;
  cursor: default;
}

.chosenColor:hover {
  opacity: 1;
}
